body {
	margin: 0;
	text-align: center;
	background: #ffffff;
}
header {
    height: 50px;
    background-color: #3DA4E3;
    color: white;
	text-align: center;
	line-height: 50px;
	font-size: 28px;
	font-weight: 400;
}
#tabs{
	left:50px;
	width:400px;
	height:30px;
}
#tabs ul{
	padding:0;
	margin:0;
}
#tabs ul li{
	list-style:none;
	float:left;
	text-decoration:none;
	display:block; 
	width:80px;
	padding:5px;
	margin:0px 10px 0px 0px;
	position:relative;
	background-color:#EEEEEE;
	border-color:#EEEEEE;
	border-radius:7px 7px 0 0;
}
#tabs ul li a{
	text-decoration:none;
	color:#000000;
}
#tabs ul li a:visited{
	text-decoration:none;
	color:#000000;
}
#tabs ul li >div {
	background-color:#EEEEEE;
	border:1px solid #EEEEEE;
	display:none;
	width:400px;
	height:220px;
	top:28px;
	margin-top:0px;
	position:absolute;
	z-index:1;
}
#Panel1{
	left:10px;
}
#Panel2{
	left:-90px;
}
#Panel3{
	left:-190px;
}
#Panel4{
	left:-290px;
}
table {
	table-layout:fixed;
}
table tr{
	height: 30px;
}
table td{
	width: 20px;
}
#output {
	margin: auto;
	height: 50%;
	box-sizing: border-box;
	display: table;
}
#output > div {
	display: table-cell;
	vertical-align: middle;
}
#input {
	top: 90px;
	width: 80%;
	box-sizing: border-box;
	background: #ffffff;
	padding: 1em;
	margin: 0;
	font-size:20px;
}
body > a {
	display: none;
}
.MathJax {
	outline: 0;
}
.MathJax_Display {
	overflow-x: auto;
	overflow-y: hidden;
}
