<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>LaTeX editor</title>
	<link rel="stylesheet" href="LaTeX editor style.css">
	<script type="text/javascript" 
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=default"></script>
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<header>\(\LaTeX\) Editor</header>
	<div id="app">
	<div id="tabs">
		<ul>
			<li id="Tab1" onmouseenter="showbox(1)" onmouseleave="hidebox(1)">
				<a href="#">Symbols</a>
				<div id="Panel1">
					<table>
						<tr>
							<td v-for="symbol in symbols[0]"><a href="#" onclick="addsymb('\\alpha ',1)">\({{symbol}}\)</a></td>
						</tr>
						<tr>
						<td><a href="#" onclick="addsymb('\\alpha ',1)">\(\alpha\)</a></td>
						<td><a href="#" onclick="addsymb('\\beta ',1)">\(\beta\)</a></td>
						<td><a href="#" onclick="addsymb('\\gamma ',1)">\(\gamma\)</a></td>
						<td><a href="#" onclick="addsymb('\\delta ',1)">\(\delta\)</a></td>
						<td><a href="#" onclick="addsymb('\\epsilon ',1)">\(\epsilon\)</a></td>
						<td><a href="#" onclick="addsymb('\\zeta ',1)">\(\zeta\)</a></td>
						<td><a href="#" onclick="addsymb('\\eta ',1)">\(\eta\)</a></td>
						<td><a href="#" onclick="addsymb('\\theta ',1)">\(\theta\)</a></td>
						<td><a href="#" onclick="addsymb('\\iota ',1)">\(\iota\)</a></td>
						<td><a href="#" onclick="addsymb('\\kappa ',1)">\(\kappa\)</a></td>
						<td><a href="#" onclick="addsymb('\\lambda ',1)">\(\lambda\)</a></td>
						<td><a href="#" onclick="addsymb('\\mu ',1)">\(\mu\)</a></td>
						<td><a href="#" onclick="addsymb('\\nu ',1)">\(\nu\)</a></td>
						<td><a href="#" onclick="addsymb('\\xi ',1)">\(\xi\)</a></td>
						<td><a href="#" onclick="addsymb('\\pi ',1)">\(\pi\)</a></td>
						<td><a href="#" onclick="addsymb('\\rho ',1)">\(\rho\)</a></td>
						<td><a href="#" onclick="addsymb('\\sigma ',1)">\(\sigma\)</a></td>
						<td><a href="#" onclick="addsymb('\\tau ',1)">\(\tau\)</a></td>
						</tr>
					</table>
				</div>
			</li>
			<li id="Tab2" onmouseenter="showbox(2)" onmouseleave="hidebox(2)">
				<a href="#">Operators</a>
				<div id="Panel2">
				</div>
			</li>
			<li id="Tab3" onmouseenter="showbox(3)" onmouseleave="hidebox(3)">
				<a href="#">Structures</a>
				<div id="Panel3">
				</div>
			</li>
			<li id="Tab4" onmouseenter="showbox(4)" onmouseleave="hidebox(4)">
				<a href="#">Arrows</a>
				<div id="Panel4">
				</div>
			</li>
		</ul>
	</div>
	</div>
	<textarea id="input" placeholder="Input TeX formula here." v-model="formula"></textarea>
	<div id="output">$${}$$</div>
	<script type="text/javascript" src="LaTeX editor.js"></script>
</body>
