body {
	margin: 0;
	text-align: center;
	background: #E9E9E9;
}
header {
    height: 50px;
    background-color: #3DA4E3;
    color: white;
	text-align: center;
	line-height: 50px;
	font-size: 28px;
	font-weight: 400;
}
header embed{
	position:absolute;
	left:30px;
	top:5px;
}
#toolbar{
	width:90px;
}
#tabs{
	width:90px;
	height:100px;
	margin:10px 0px 0px 0px;
}
#tabs ul{
	padding:0;
	margin:0;
}
#tabs ul li{
	list-style:none;
	float:top;
	text-decoration:none;
	display:block; 
	width:80px;
	padding:5px;
	margin:0px 0px 8px 0px;
	position:relative;
	background-color:#FFFFFF;
	border: 1px solid steelblue;
	box-shadow: 0 3px 0 steelblue;
	border-radius:0 7px 7px 0;
}
#tabs ul li a{
	text-decoration:none;
	color:#000000;
}
#tabs ul li a:visited{
	text-decoration:none;
	color:#000000;
}
#tabs ul li >div {
	background-color:#FFFFFF;
	border: 1px solid steelblue;
	box-shadow: 0 3px 0 steelblue;
	display:none;
	width:400px;
	left:90px;
	top:-1px;
	margin-top:0px;
	position:absolute;
	z-index:1;
	border-radius:7px 7px 7px 7px;
	box-shadow: 10px 10px 10px 5px rgba(204,204,204,0.3);
}
table {
	table-layout:fixed;
}
table tr{
	height: 30px;
}
table td{
	width: 20px;
}
#optab td{
	width: 40px;
}
#structtab td{
	width: 40px;
}
#fonttab td{
	width: 120px;
}
#fontsetting{
	margin-top:100px;
}
#fontsetting>input{
	margin-left:3px;
	width:40px;
}
#fontsetting>input[type="color"]{
	margin-top:40px;
	margin-left:3px;
	width:80px;
}
#colorlabel{
	top:317px;
	left:20px;
	position:absolute;
}
#text{
	position:absolute;
	top: 70px;
	left: 95px;
	width: 72%;
	transition: width 0.5s;
}
#input {
	width: 90%;
	box-sizing: border-box;
	background: #ffffff;
	padding: 1em;
	margin: 0;
	font-size:20px;
}
#output {
	margin:auto;
	box-sizing: border-box;
	display: table;
	margin-top:40px;
	width:90%;
}
#output > div {
	display: table-cell;
	vertical-align: middle;
}
#history{
	width: 310px;
	height:100%;
	right: 0px;
	top: 50px;
	position: absolute;
	box-shadow: -10px 0px 20px 0px rgb(204,204,204);
	background-color: #EEEEEE;
	transition: right 0.5s;
}
#history ul{
	float:left;
	position:relative;
	left:-30px;
	width:290px;
}
#history li{
	list-style:none;
	width:290px;
	background-color: white;
	border:1px solid darkgray;
	margin-bottom:7px;
}
.hislist-item {
	transition: all 1.5s;
}
.hislist-enter, .hislist-leave-to{
	opacity: 0;
	transform: translateY(60px);
}
.hislist-leave-active {
	position: absolute;
}
#history li p{
	cursor:pointer;
}
#history li a{
	position: absolute;
	right: 4px;
	display: block;
	font-size: 18px;
	line-height: 10px;
	color: darkgray;
	cursor: pointer;
}
#pushBtn{
	width: 250px;
	height: 40px;
	margin-top: 30px;
	font-size: 18px;
	color: black;
	background-color: white;
	border: 3px solid steelblue;
	border-radius:7px 7px 7px 7px;
	cursor: pointer;
}
#foldBtn {
	position: absolute;
	top: 40%;
	right: 308px;
	height: 75px;
	border:0px;
	background-color: #EAEAEA;
	box-shadow: -10px 0px 20px 0px rgb(204,204,204);
	color: darkslategray;
	cursor: pointer;
	z-index:1;
	outline:none;
}
.MathJax {
	outline: 0;
}
.MathJax_Display {
	overflow-x: auto;
}
