<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>LaTeX editor</title>
	<link rel="stylesheet" href="LaTeX editor style.css">
	<script type="text/javascript" 
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=default"></script>
	<script type="text/javascript" src="vue.js"></script>
</head>
<body>
	<header>\(\LaTeX\) Editor</header>
	<div id="toolbar">
	<div id="tabs">
		<ul>
			<li id="Tab1" onmouseenter="showbox(1)" onmouseleave="hidebox(1)">
				<a href="#">Symbols</a>
				<div id="Panel1">
					<table id="symboltab">
						<tr v-for="(row,r) in symbols">
							<td v-for="(symbol,c) in row">
								<a href="#" v-on:click="add(1,r,c)" v-bind:title="symbol">\({{symbol}}\)</a>
							</td>
						</tr>
					</table>
				</div>
			</li>
			<li id="Tab2" onmouseenter="showbox(2)" onmouseleave="hidebox(2)">
				<a href="#">Operators</a>
				<div id="Panel2">
					<table id="optab">
						<tr v-for="(row,r) in operators">
							<td v-for="(operator,c) in row">
								<a href="#" v-on:click="add(2,r,c)" v-bind:title="operator">\({{operator}}\)</a>
							</td>
						</tr>
					</table>
				</div>
			</li>
			<li id="Tab3" onmouseenter="showbox(3)" onmouseleave="hidebox(3)">
				<a href="#">Structures</a>
				<div id="Panel3">
					<table id="structtab">
						<tr v-for="(row,r) in structures">
							<td v-for="(structure,c) in row">
								<a href="#" v-on:click="add(3,r,c)" v-bind:title="structure">\[{{structure}}\]</a>
							</td>
						</tr>
					</table>
				</div>
			</li>
			<li id="Tab4" onmouseenter="showbox(4)" onmouseleave="hidebox(4)">
				<a href="#">Arrows</a>
				<div id="Panel4">
					<table id="arrowtab">
						<tr v-for="(row,r) in arrows">
							<td v-for="(arrow,c) in row">
								<a href="#" v-on:click="add(4,r,c)" v-bind:title="arrow">\({{arrow}}\)</a>
							</td>
						</tr>
					</table>
				</div>
			</li>
			<li id="Tab5" onmouseenter="showbox(5)" onmouseleave="hidebox(5)">
				<a href="#">Fonts</a>
				<div id="Panel5">
					<table id="fonttab">
						<tr v-for="(row,r) in fonts">
							<td v-for="(font,c) in row">
								<a href="#" v-on:click="add(5,r,c)" v-bind:title="font">\({{font}}\)</a>
							</td>
						</tr>
					</table>
				</div>
			</li>
		</ul>
	</div>
	<div id="fontsetting">
		<label for="sizebox">Font size:</label>
		<input id="sizebox" v-model="fontsize">
		<label for="sizebox">pt</label>
		<label for="colorbox" id="colorlabel">Color:</label>
		<input id="colorbox" type="color" value="#FF0000" v-model="color">
		<button onclick="insertSymb('\\color{'+document.getElementById('colorbox').value+'}{text}',0,false)">Insert color</button>
	</div>
	</div>
	<div id="text">
		<textarea id="input" placeholder="Input TeX formula here." v-model="formula"></textarea>
		<div id="output">$${}$$</div>
	</div>
	<script type="text/javascript" src="LaTeX editor.js"></script>
</body>
